.div,
.title {
  position: relative;
  line-height: 22px;
}
.title {
  font-weight: 500;
}
.div {
  font-size: var(--body-regular-size);
  color: var(--dust-red-5);
  text-align: right;
}
.label,
.titleParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titleParent {
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.label {
  align-self: stretch;
  overflow: hidden;
  justify-content: center;
  padding: 0 0 var(--padding-5xs);
}
.verticalFormIteminput,
.verticalFormIteminputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.verticalFormIteminputWrapper {
  flex-direction: row;
}
.viewProperties {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-merriweather-sans);
  color: var(--neutral-1);
  text-align: left;
}
.component94 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-13xl);
  background-color: transparent;
  width: 380px;
  border-radius: var(--br-9xs);
  background: linear-gradient(rgba(79, 79, 79, 0.2), rgba(79, 79, 79, 0.2)),
    #122b49;
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.byContinuingYou {
  font-weight: 300;
}
.termsAndConditions {
  text-decoration: underline;
}
.byContinuingYouContainer {
  position: relative;
  line-height: 22px;
}
.component94Parent {
  height: 60px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--main-blue);
  font-family: var(--font-merriweather-sans);
}
.component94Parent,
.frameGroup,
.frameParent {
  display: flex;
  flex-direction: column;
}
.frameGroup {
  height: 107px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}
.frameParent {
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-base);
  background-color: var(--neutral-1);
  width: 100%;
  height: 252px;
  overflow-y: auto;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--character-title-85);
  font-family: var(--font-inter);
}
