@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-merriweather-sans: "Merriweather Sans";
  --font-merriweather: Merriweather;
  --font-inter: Inter;
  --font-poppins: Poppins;
  --body-regular: Roboto;
  --font-jacques-francois: "Jacques Francois";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --body-regular-size: 14px;
  --font-size-xl: 20px;
  --font-size-15xl-6: 34.6px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;

  /* Colors */
  --neutral-1: #fff;
  --color-snow-100: #fdfaf7;
  --cream: #fcf8f4;
  --cream-dark: #f6efe6;
  --grey-text: #424242;
  --main-blue: #122b49;
  --color-black: #000;
  --color-peru: #b0854c;
  --color-bisque: #f5dbc2;
  --border-grey: #d6d6d6;
  --color-lightgray-100: #cdcdcd;
  --neutral-5: #d9d9d9;
  --color-cornflowerblue: #44a0fc;
  --color-gray-100: #878787;
  --grey-text-2: #7a7a7a;
  --character-title-85: rgba(0, 0, 0, 0.85);
  --character-disabled-placeholder-25: rgba(0, 0, 0, 0.25);
  --color-gray-200: rgba(18, 18, 18, 0.87);
  --dust-red-5: #ff4d4f;
  --color-aliceblue: #edf2f8;
  --color-lavender: #e0ecff;
  --color-whitesmoke: #f8f8f8;
  --color-ghostwhite: #f6f8ff;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-15xl: 34px;
  --gap-13xl: 32px;
  --gap-11xs: 2px;
  --gap-11xs-4: 1.4px;
  --gap-413xl: 432px;
  --gap-7xl: 26px;
  --gap-7xs: 6px;
  --gap-lg: 18px;
  --gap-9xs-8: 3.8px;
  --gap-10xs-8: 2.8px;
  --gap-37xl: 56px;
  --gap-41xl: 60px;
  --gap-xs: 12px;
  --gap-sm: 14px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-mini: 15px;
  --gap-6xs: 7px;
  --gap-smi: 13px;
  --gap-base: 16px;
  --gap-4xs: 9px;
  --gap-6xl: 25px;
  --gap-9xs: 4px;
  --gap-3xs-4: 9.4px;
  --gap-5xl: 24px;
  --gap-4xl: 23px;
  --gap-77xl: 96px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-3xs: 10px;
  --padding-11xs: 2px;
  --padding-9xs-8: 3.8px;
  --padding-21xl: 40px;
  --padding-17xl: 36px;
  --padding-xs: 12px;
  --padding-13xl: 32px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-lg: 18px;
  --padding-lgi: 19px;
  --padding-base: 16px;
  --padding-3xl: 22px;
  --padding-8xs: 5px;
  --padding-6xl: 25px;
  --padding-49xl: 68px;
  --padding-46xl: 65px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-10xl: 29px;
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-lg: 18px;
  --br-11xs: 2px;
  --br-11xl: 30px;
  --br-81xl: 100px;
  --br-xl: 20px;
  --br-base: 16px;
  --br-mini: 15px;
}
